## Get latest from https://github.com/github/gitignore/blob/master/VisualStudio.gitignore
.vscode/
node_modules/
eslintconifg.txt
Code.js.map
Code.js

# Exported save files (personal gameplay saves, not project data)
Fundamental, *.txt

# Portable test build (packaged copy of the runnable game, rebuilt as needed - not source)
fundamental.zip
