## Get latest from https://github.com/github/gitignore/blob/master/VisualStudio.gitignore
.vscode/
node_modules/
eslintconifg.txt
Code.js.map
# Code.js # I'm so tired of this... Not a single tutorial to tell why outfile not being sended...
