* {
    font-family: Inter, serif;
    box-sizing: content-box;
    margin: 0;
}



body {
    background-color: #030012;
    color: #03d3d3;
    /* color for stage 2 is dodgerblue; color for stage 3 #8f8f8f */
    /* Add custom colors, when ready for stage 2*/
    /* Add "transition: ;" only for background-color, to prevent flashing */
}

/* .darkOrchidText { color: #bd24ef }*/
/* .orchidText { color: #e14bdb } */
/* .redText { color: #eb0000 } */
.stageText { color: #03d3d3; } /* Not a duplicate, just need to add custom color later */
.cyanText { color: #03d3d3; }
.whiteText { color: white }
.orangeText { color: darkorange }
.blueText { color: dodgerblue }
.image { background-color: #030012; }

#load, button {
    appearance: none;
    height: 1.6em;
    cursor: pointer;
    transition: 1ms;
    background-color: mediumblue; /* dimgray good color for stage 3 */
    border: 2px solid darkcyan;
    color: #e3e3e3;
    padding: 0.075em 0.45em;
}

.saveButtonGroup button, #load { font-size: 1em; }
#save, #load { width: 4.5em; }
.buyBuldingsAll button { width: 20em; }

.bigButton {
    width: 9.5em;
    height: 2rem;
    font-size: 1.05em;
}

nav button {
    background-color: black;
    border-radius: 10px;
    width: 4.8em;
    font-size: 1.01rem;
}

nav button:hover { background-color: #181818; }
button:hover, #load:hover { background-color: #2626ff; }

.insideTab {
    margin-top: 2vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 2.2em;
}

@media screen and (max-width: 55em) {
    .insideTab {
        flex-direction: column;
        align-items: center;
        gap: 1.2em;
        margin-top: 1vh;
    }
}

.stage {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 15em;
    padding: 1.2em 1.1em;
    gap: 1.2em;
    background-color: #12121c;
    border: 2px solid cornflowerblue;
}

#stageWord { font-size: 1.1rem; }

.buyBuilding {
    display: flex;
    align-items: center;
    margin-bottom: 0.1em;
    height: 2.4em;
}

.buyBuldingsAll { width: 34em }

.buyBuilding > p {
    width: 100%;
    margin: 0 1em;
}

.buyBuilding > p span:first-of-type { margin-left: 0.5em; }
.buyBuilding > p span:last-of-type { float: right; } /* I wish, I knew a better way*/

#upgrades {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 0.4em;
}

#upgrades > a { margin-bottom: 0.25em; }

.saveButtonGroup {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.3em;
}

.saveButtonGroup > div {
    display: flex;
    flex-direction: column;
    width: min-content;
    gap: 0.2em;
}

.saveButtonGroup > div > div {
    display: flex;
    gap: 0.2em;
}

#file {
    position: absolute; /* Important for screen readers */
    clip-path: circle(0); /* Since you can't click on label */
}

#load {
    display: flex;
    align-items: center;
    justify-content: center;
}

#export {
    height: 1.8em;
    font-size: 1.2em;
}

#delete {
    height: 1.3em;
    font-size: 0.9em;
}

#footer {
    position: fixed;
    background-color: darkblue; /* Brigher version for stage 2 */
    width: 100%;
    bottom: 0;
    padding: 1vh 1vw;
}

.footerArea, nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0.5em 1em;
}

.footerArea:not(:last-of-type) { margin-bottom: 0.8em; }

.statFoot {
    display: flex;
    align-items: center;
    gap: 0.5em;
}
