.buyBuilding { margin-left: calc(-32px - 0.348em); }

#elementsGrid {
    gap: 0.15em;
    padding: 0.25em;
}

#elementsGrid > .interactiveImage {
    width: 32px;
    height: 32px;
    object-fit: scale-down;
}

#subtabs { margin-left: 1vw; }
#phoneHotkeys { margin-right: 1vw; }
